*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 {
  color: black;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  margin-top: 100px;
}

h4 {
  color: black;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  margin-right: 220px;
  margin-left: 220px;
}

p {
  font-size: 26px;
}

.btn {
  /* position: relative; */
  margin-top: 20px;
  background-color: #33b2f6; /* blue */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 50px;
  margin-left: 635px;
  float: left;
  /* opacity: 0.6;
  transition: 0.3s; */
}

.btn:hover {
  background-color: #0288d1;
}

ul {
  list-style-type: none;
  padding: 0;
  background-color: white;
}

li {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: rgb(47, 139, 245);
  color: white;
  font-size: 1.5em;
  line-height: 1.5;
}

li:before {
  content: "\200B";
  position: absolute;
}

li::after {
  content: " ";
  display: block;
  clear: both;
}

li button {
  float: right;
  border: none;
  height: 40px;
  cursor: pointer;
  background-color: #020202;
  color: white;
  font-size: 1em;
}

li button:hover {
  background-color: #febc5d;
}
